body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 15px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
           max-width:500px;
           margin: 0 auto;
           color: grey;
           font-family: sans-serif;
           padding-top: 70px;
           padding-right:40px;
           padding-left:40px;
           
       }



